@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #051113;
  font-family: "Inter", sans-serif;
  color: #fafafa;
  font-weight: bold;
  font-size: 50px;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #fafafa;
  font-size: 25px;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.container h1 {
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.banner-text {
  position: relative;
  z-index: 20;
}

.stripes {
  position: absolute;
  height: calc(0.7 * 100vh);
  z-index: -10;
  width: 50%;
  top: 0;
  right: 20rem;
}
.line{
  width: 2000px;
  transform: rotate(-45deg);
  position: relative;
}


.line1 {
  left: 240px;
  border: 10px solid #aef5ed;
}
.line2 {
  left: 160px;
  border: 10px solid #95c0fb;
}
.line3 {
  left: 80px;
  border: 10px solid #ff8fd9;
}
.line4 {
  border: 10px solid #e5faa8;
} 

footer {
  position: absolute;
  border-top: 2px white solid;
  width: 100% !important;
  background-color: #051113;
  left: 0;
  top: calc(0.7 * 100vh);
  z-index: 10;
}

footer div {
  margin-top: 5rem !important;
}

footer div a {
  display: flex;
  align-items: center;
  align-content: center;
}
